---
import BasicSection from "../components/BasicSection.astro";
import SectionTitle from "../components/SectionTitle.astro";

const authors = Astro.props.authors;
---

<BasicSection width="var(--main-width)" extraClasses="component-border-vertical component-border-bottom overflow-hidden">
  <SectionTitle containerClass="p-[30px] component-border-bottom">
    <h1><b>Autorzy</b></h1>
  </SectionTitle> 
  <div class="flex flex-col gap-[30px] p-[30px]">
    {authors.map((author: any) => (
      <div class="flex items-center font-jost text-[20px] rounded-[7px]">
        <a class="flex" href={author.path || ''}>
          <picture>
              <img
                class="mobile-photo min-w-[55px] max-w-[55px] min-h-[55px] max-h-[55px] bg-cover bg-center !rounded-[50%] bg-[#eee]"
                src={`https://images.necodeo.com/${author.avatar_image_id}/55x55`}
                alt=""
                loading="lazy"
              />
          </picture>
          <div class="ml-[20px]">
              <div class="flex items-center">
                <div class="font-medium">{author.name}</div>
              </div>
              <div class="mt-[2px] text-[16px]">{author.bio}</div>
          </div>
        </a>
      </div>
    ))}
  </div>
</BasicSection>

<BasicSection width="var(--main-width)" extraClasses="component-border-vertical overflow-hidden flex-grow"></BasicSection>
