---
import AsideContainer from "../components/AsideContainer.astro";
import BasicSection from "../components/BasicSection.astro";
import MainContainer from "../components/MainContainer.astro";
import Scrollbar from "../components/Scrollbar.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SectionWrapper from "../components/SectionWrapper.astro";
import TopNavbar from "../components/TopNavbar.astro";
---

<TopNavbar
  items={[
    { name: "Artykuły", url: "/" },
    { name: "Autorzy", url: "/autorzy" },
    { name: "Projekty", url: "/projekty" },
    { name: "Kontakt", url: "/kontakt" },
  ]}
/>

<MainContainer extraClasses="lg:h-[100vh]">
    <Scrollbar>
        <SectionWrapper
          width="var(--desktop-main-content-width)"
          extraClasses="flex-grow"
          childrenClasses="flex-grow flex flex-col"
        >
            <BasicSection
                width="var(--main-width)"
                extraClasses="component-border-vertical component-border-bottom"
                childrenClasses="flex-grow flex flex-col"
            >
                <SectionTitle containerClass="p-[30px] component-border-bottom">
                    <h1><b>Kontakt</b></h1>
                </SectionTitle>
                <div class="p-[30px]">...</div>
            </BasicSection>

            <BasicSection width="var(--main-width)" extraClasses="component-border-vertical overflow-hidden flex-grow"></BasicSection>
        </SectionWrapper>
    </Scrollbar>
</MainContainer>

<AsideContainer extraClasses="component-border-vertical">
    <Scrollbar>
        <BasicSection></BasicSection>
    </Scrollbar>
</AsideContainer>
