---
import BasicSection from "../components/BasicSection.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<BasicSection width="var(--main-width)" extraClasses="component-border-vertical component-border-bottom">
    <SectionTitle containerClass="p-[30px] component-border-bottom">
        <h1><b>Kontakt</b></h1>
    </SectionTitle>
    <div class="p-[30px]">...</div>
</BasicSection>

<BasicSection width="var(--main-width)" extraClasses="component-border-vertical overflow-hidden flex-grow"></BasicSection>
