---
import SectionTitle from "../components/SectionTitle.astro";
import TopNavbar from "../components/TopNavbar.astro";
import PostsListing from "../components/PostsListing.astro";
import ContentLayout from "../components/ContentLayout.astro";

const posts = Astro.props.posts;
const navigation = Astro.props.navigation;
---

<ContentLayout>
  <!-- Navigation -->
  <TopNavbar slot="header" items={navigation} />

  <!-- Main -->
  <SectionTitle text="Artykuły" class="p-[30px]" />
  <div class="component-padding">
    <PostsListing posts={posts} />
  </div>
</ContentLayout>
