---
import BasicSection from "../components/BasicSection.astro";
import SectionTitle from "../components/SectionTitle.astro";
import PostsList from "../components/PostsListing.astro";

const posts = Astro.props.posts;
---

<BasicSection
  width="var(--main-width)"
  extraClasses="component-border-vertical overflow-hidden"
  childrenClasses="flex-grow flex flex-col"
>
  <SectionTitle containerClass="p-[30px] component-border-bottom">
    <h1><b>Artykuły</b></h1>
  </SectionTitle>
  <div class="component-padding component-border-bottom">
    <PostsList posts={posts} />
  </div>
</BasicSection>

<BasicSection
  width="var(--main-width)"
  extraClasses="component-border-vertical overflow-hidden flex-grow"
/>
