---
import { ViewTransitions } from "astro:transitions";

const path = Astro.url.pathname;
---

<html transition:animate="none">
  <head>
    <ViewTransitions />
  </head>
  <body>
    <a href="/" data-astro-history="replace">Home</a>
    <a href="/test" data-astro-history="replace">Test Page</a>
  </body>
</html>
