---
import Layout from "../layouts/Layout.astro";
import SectionWrapper from "../components/SectionWrapper.astro";
import MainContainer from "../components/MainContainer.astro";
import AsideContainer from "../components/AsideContainer.astro";
import BasicSection from "../components/BasicSection.astro";
---

<Layout title="" navigation={[]}>
  <MainContainer extraClasses="lg:h-[100vh]">
    <SectionWrapper
      width="var(--desktop-main-content-width)"
      extraClasses="flex-grow"
      childrenClasses="flex-grow flex flex-col"
    >
      <BasicSection
        width="var(--main-width)"
        extraClasses="component-border-vertical overflow-hidden"
      >
        <div class="relative font-jost component-border-bottom">
          <div class="p-[7px]">
            <img
              src="https://images.necodeo.com/58fa83c2-326c-4909-b454-73118453c697"
              alt="error background"
              loading="lazy"
            />
          </div>
        </div>
        <div class="component-border-bottom relative font-jost">
          <div class="text-[20px] font-jost relative">
            <p class="m-[30px] leading-[35px]">
              <b>404 ~ </b> Wystąpił błąd podczas ładowania strony
            </p>
          </div>
        </div>
      </BasicSection>

      <BasicSection width="var(--main-width)" extraClasses="component-border-vertical overflow-hidden flex-grow"></BasicSection>
    </SectionWrapper>
    <AsideContainer extraClasses="component-border-vertical" />
  </MainContainer>
</Layout>
