---
import { ViewTransitions } from "astro:transitions";
import Heading from "../components/Heading.astro";

const { path } = Astro.params;

if (path === "error-404") {
  Astro.response.status = 404;
}

if (path === "error-500") {
  Astro.response.status = 500;
}
---

<html transition:animate="none">
  <head>
    <ViewTransitions />
  </head>
  <body>
    <Heading>P /{path}</Heading>
    <a href="/" data-astro-history="replace">Home</a>
    <a href="/test" data-astro-history="replace">Test Page</a>
  </body>
</html>
