---
type Links = {
    href: string;
    text: string;
    description: string;
}[];

const links: Links = Astro.props.links || [];
---

<ul class="font-jost flex flex-col gap-[30px] p-[30px] component-border-bottom">
    {links.map((link) => <li>
        <a
            class="text-[20px] inline-block"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href={link.href}
        >
            <b class="font-medium">{link.text}</b><br />
            <div class="mt-[10px]">{link.description}</div>
        </a>
    </li>)}
</ul>
