<div class={['containerc', Astro.props.class].join(' ')}>
    <slot />
</div>

<style>
.containerc {
    display: flex;
    justify-content: center;
    height: calc(100vh - 50px);
}

@media (max-width: calc(1100px - 1px)) {
    .containerc {
        justify-content: flex-start;
    }
}
</style>
