---
const setFirstWordBold = (text: string) => {
    if (!text) return '';

    const words = text.split(' ');
    words[0] = `<span class="font-bold">${words[0]}</span>`;

    return words.join(' ');
}

const className = Astro.props.class;
const classes = "font-jost text-[22px] component-border-bottom" + (className ? ` ${className}` : "");
const text = Astro.props.text;
---

<div class={classes} set:html={setFirstWordBold(text)}></div>
