---
import FrameworkLogo from "./FrameworkLogo.jsx";
import Logo from "./Logo.astro";

const isError = !("path" in Astro.params);
const currentPath = !isError ? "/" + (Astro.params.path || "") : null;
const items = Astro.props.items;
---

<div class="component-border-bottom font-jost text-[16px] h-[50px] flex items-center justify-between">
  <div
    style={{
      display: "flex",
      gap: "30px",
      alignItems: "center",
      margin: "0 30px",
    }}
  >
    <div class="flex items-center gap-[15px]">
      <Logo />
    </div>
    {
      items.map((item: any) => (
        <a
          href={item.url}
          class={currentPath === item.url ? "font-medium" : ""}
        >
          {item.name}
        </a>
      ))
    }
  </div>
  <div class="mr-[30px]">
    <FrameworkLogo client:load width={75} />
  </div>
</div>
